<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogRy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogRy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <LogRy.Properties.Settings>
            <setting name="open_sum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox1" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox2" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox3" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox4" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox5" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox6" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox7" serializeAs="String">
                <value />
            </setting>
        </LogRy.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <LogRy.Properties.Settings>
            <setting name="f" serializeAs="String">
                <value />
            </setting>
        </LogRy.Properties.Settings>
    </applicationSettings>
</configuration>
